<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<%= @user.email %>

<p> Add an Item</p>
<%= render partial: '/items/item', locals: { user_items: @user.items } %>
<%= render partial: "items/form" %>
