<% user_items.each do |item| %>
  <div>
      <h4 class='list-group-item-heading'><%= item.name %></h4>
      <p class='list-group-item-text'><%= time_left(item) %></p>
  </div>
  
  <%=  link_to "Complete", user_item_path(user_id: @user.id, id: item.id), method: :delete, class: "glyphicon glyphicon-ok" %>
<% end %>
